* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
.container {
	width: 1170px;
	margin: 0 auto;
  padding: 0;
}
.row:after,.menu:after {
	content: "";
	clear: both;
	display: block;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
.col-md-9 {
  width: 75%;
}
[class*="col-"] {
	float: left;
}
.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.menu > li, .search li { /*добавлено для выпадающего меню*/
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b5; 
}
/*========================
======ARROW============
=======================*/
.products {
  background: url(images/arrow_blue.png) no-repeat center right 10px;
}
.products:hover {
  background: url(images/arrow_white_hover.png) no-repeat center right 10px;
}
.menu li:last-child {
	border-right: 1px solid #2c71b5; 
}
.menu a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-weight: 300;
  font-size: 21px;
  color: #2c71b5;
}
.menu a:hover {
	background-color: #2c71b5; 
	color: white;
}
.menu li:hover a.menu_link {
  background-color: #2c71b5; 
  color: white;
}
/*==========================
=====SEARCH И КОРЗИНКА====
==========================*/
.search input {
  margin-left: 30px;
  background: #cadbed;
  text-decoration: #2c71b5;
  border: 1px solid #2c71b5;  
  position: absolute;  
  line-height: 20px;

  width: 200px;
  height: 40px;
}
.search input[type="text"] {
  top: 5px;
  margin: 25px 30px;
}
.search input[placeholder="search"] {
  font-size: 18px;
  padding-left: 20px; 
}
input::-webkit-input-placeholder { 
  color: #2c71b5;
  font-family: 'Roboto', sans-serif; 
}
.search input[type="button"] {
  width: 30px;
  height: 30px; 

  background-position: center;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2c71b5; 

  position: relative;
  top: 10px;
  bottom: 9px;
  left: 165px;
  padding: 9px; 
}
.cart {
  width: 40px;
  height: 40px;
  background-image: url(images/bag.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0 solid white;
  padding: 20px;
  background-color: white;
  position: relative;
  top: 4px;
  left: 40px;
}
.products-count {
  width: 20px;
  height: 20px;
  
  border-radius: 100%;
  background-color: #2c71b5;
  text-align: center;
  line-height: 1.2em;
  font-size: 12px;
  color: white;
  
  position: relative;
  top: -20px;
  left: -20px;
  padding: 2.5px;
  margin: -10px;
}
/*=======================
====ВЫПАДАЮЩЕЕ МЕНЮ====
=======================*/
.submenu li {
  width: 293px;
  height: 40px;
  border-left: none;
  margin-bottom: 10px;
}
.submenu {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: none;
  position: absolute;
}
.submenu li a {
  padding: 0 30px;
  background-color: #2c71b5;
  color: white;
  text-decoration: none;
  position: relative;
  right: 1px;
  text-align: left;
}
.menu li:hover .submenu {
  display: block;
}
.submenu > li > a:hover {
  background-color: white;
  color: #2c71b5;
  transition: all 1s ease;  /*для плавного перехода*/
}
/*=========================
=====MAIN=PART===========
=========================*/
.slider {
  height: 400px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
}
.column3 {
  width: 270px;
  height: 845px;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.15);
  float: left;
}
.main {
  width: 1170px;
  margin: 0 auto;
}
.col-md-4 {
  width: 33%;
}
/*=============================
=====ХЛЕБНЫЕ=КРОШКИ==========
=============================*/
.breadcrumbs {
  margin-left: 20px;
  margin-top: 30px;
}
.breadcrumb-item {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.breadcrumb-last {
  color: white;
  font-size: 13px;
  font-weight: lighter;
}
.breadcrumb-item:hover, .breadcrumb-last:hover {
  text-decoration: underline;
}
/*===================================
=======LAPTOPS AND TABLETS=========
===================================*/
.h2 {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
/*===================================
======СОРТИРОВКА МЕНЮ===============
===================================*/
.sort_menu li {
  float: left;
  border: 1px solid white;
  height: 37px;
  width: 270px;
  background-color: #2c71b5;  
}
.sort_arrow {  /*белая стрелочка*/
  background: url(images/sort_arrow.png) no-repeat center right;
  padding-right: 125px; 
}
.sort_menu {
  margin-left: 217px;
  margin-top: 30px;
  display: block; 
  line-height: 35px; /*для выравнивания текста внутри таблички по высоте*/
}
.sort_menu a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
  color: white;
}
/*====================================
=======ВЫПАДАЮЩЕЕ ДЛЯ СОРТИРОВКИ====
====================================*/
.sort_by li {
  width: 270px;
  height: 37px;
}
.sort_by {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: none;
  position: relative;
}
.sort_menu:hover .sort_by {
  display: block;
}
.sort_by li:hover {
  background-color: white;
  transition: all 1s ease; /* плавный переход*/
}
.sort_by a:hover {
  color: #2c71b5;
}
/*=====================================
=======ТОВАРЫ=В=MAIN=================
=====================================*/
.product-list-item {
  height: 650px;
  width: 270px;
  float: left;
  position: relative;
  border: 1px solid white;
  background-color: rgba(44, 113, 181, 0.6); /*(0,0,0,0.10) это для темного фона*/
  margin-left: 20px; 
  margin-right: 0;
  margin-bottom: 30px;
}
.product-image-block {
  width: 269px;
  height: 180px;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 5;
  background-color: rgba(255,255,255,0.65);
}
.img_products {  /*центрирование картинок*/
  padding: 40px 90px;
  margin: 0 auto;
}
h2 {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
}
h3 {
  margin-left: 15px;
  margin-right: 43px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
.product-features {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;  
  float: left; 
}
.price { /*цена*/
  float: left;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 30px;   
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
sup { /*  нижний индекс*/
  font-size: 23px;
  vertical-align: 0.7em;
  margin-left: 7px; 
}
/*============================
=====КНОПКИ=В=ТОВАРАХ=======
============================*/
.more_det input {
  float: left;
  margin-top: 190px;
  margin-left: -94px;
  margin-bottom: 5px;
  border: 1px solid white;
  background-color: #2c71b5;
  position: absolute;
  width: 210px;
  height: 50px;
}
.add_to input {
  float: left;
  margin-top: 270px;
  margin-left: -94px;
  margin-bottom: 5px;
  border: 1px solid white;
  background-color: #2c71b5;
  position: absolute;
  width: 210px;
  height: 50px;
}
.more_det input:hover {
  background-color: rgba(255,255,255,0.15);
}
.add_to input:hover {
  background-color: rgba(255,255,255,0.15);  
}
.white_bag {
  width: 20px;
  height: 20px;
  background-image: url(images/white_bag.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  position: absolute;
  top: 4px;
  left: 40px;
  margin-top: 488px;
  margin-left: 150px;
}
/*.pic_on_products {
  width: 20px;
  height: 20px;
  background-image: url(images/heart_white.png.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  position: absolute;
  top: 10px;
  left: 40px;
}*/